[submodule "greatIdeasFrontend"]
	path = greatIdeasFrontend
	url = https://github.com/daisygabi/greatideasfrontend
[submodule "greatIdeasBackend"]
	path = greatIdeasBackend
	url = https://github.com/daisygabi/greatideasbackend
[submodule "AndroidBasicConverters"]
	path = AndroidBasicConverters
	url = https://github.com/daisygabi/basiconverters
[submodule "TwillioBuyLocalFoodFrontend-Hackathon"]
	path = TwillioBuyLocalFoodFrontend-Hackathon
	url = https://github.com/daisygabi/BuyLocalFrontend.git
[submodule "TwillioBuyLocalFoodBackend-Hackathon"]
	path = TwillioBuyLocalFoodBackend-Hackathon
	url = https://github.com/daisygabi/BuyLocalServerSide.git
[submodule "ReactJsThemes"]
	path = ReactJsThemes
	url = https://github.com/daisygabi/reactjsonepagethemes.git
